# Python
__pycache__/
*.py[cod]

# Ambiente virtual e variáveis
.env
!.env.example
.venv/
venv/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Testes e cobertura
.pytest_cache/
.coverage
htmlcov/

# IDE / sistema
.vscode/
.idea/
.DS_Store